/* обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
}

/* ---------------------- */

.wrapper {
   background: url(../img/header-wrapper.png);
   max-width: 100%;
   background-size: cover;
   min-height: 825px;
}

.container {
  max-width: 966px;
  margin: 0 auto;
  padding-top: 40px;
}

.hamburger__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: #252B42;
  display: flex;
  align-items: center;
}
.menu__box {
  margin-left: 87px;
}

.menu__item {
  margin-left: 21px;
  display: inline-block;
  transition: .5s;
  will-change: transform;
}

.menu__item:hover {
  transform: scale(1.1);
} 

.menu__item a {
  color: #737373;
  font-size: 14px;
  font-weight: 700;
}

.box__menu {
  display: flex;
  align-items: center;
}
.menu__item__login a , .menu__item__join a {
  display: inline-block;
  will-change: transform;
  transition: .5s;
}

.menu__item__login a:hover, .menu__item__join a:hover {
  transform: scale(1.1);
}

.menu__item__login {
  margin-right: 45px;
}
.menu__item__login a {
  color: #96BB7C;
  font-size: 14px;
  font-weight: 700;
}

.menu__item__join a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  width: 137px;
  height: 52px;
  background: #96BB7C;
  border-radius: 5px;
}

.menu__item__join a::after {
  content: url(../img/header-btn-arrow.svg);
  margin-left: 16px;
}

#menu__toggle {
  display: none;
}

.menu__btn {
  display: none;
}

.header__promo__block {
  padding-top: 193px;
  text-align: center;
  width: 100%
}

.header__promo__supheading p {
  font-size: 16px;
  color: #96BB7C;
  font-weight: 700;
}

.header__promo__heading p {
  padding-top: 66px;
  font-size: 58px;
  margin: 0 auto;
  font-weight: 700;
  line-height: 80px;
  color: #252B42;
  text-transform: uppercase;
}

.header__promo__subheading p {
  padding-top: 65px;
  font-size: 20px;
  width: 100%;
  color: #737373;
  line-height: 30px;
  width: 55%;
  margin: 0 auto;
  word-wrap: break-word;
}

.header__promo__subheading br {
  display: initial;
}


.header__promo__buttons {
  padding-top: 48px;
  display: flex;
  justify-content: center;

}
.header__promo__first__btn, .header__promo__second__btn {
  margin: 0 10px;
}
.header__promo__first__btn a {
  width: 193px;
  height: 52px;
  background: #96BB7C;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  transition: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__promo__first__btn a:hover {
  transform: scale(1.1);
}
.header__promo__second__btn a {
  width: 193px;
  height: 52px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  color: #96BB7C;
  border: 1px solid #96BB7C;
  transition: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__promo__second__btn a:hover {
  transform: scale(1.1);
}

.main__container {
  max-width: 1070px;
  margin: 0 auto;
  padding-top: 283px;
  padding-bottom: 185px;
}

.social__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer__block {
  padding-top: 248px;
}

.offer__supheading p {
  color: #96BB7C;
  font-size: 14px;
  font-weight: 700;
}

.offer__heading p {
  padding-top: 25px;
  color: #252B42;
  font-size: 40px;
  font-weight: 700;
}

.offer__subheading p {
  padding-top: 13px;
  color: #737373;
  font-size: 14px;
  line-height: 20px;
}

.offer__cards {
  display: flex;
  justify-content: space-between;
  padding-top: 114px;
}

.offer__card {
  width: 22%;
  height: 288px;
  padding: 35px 40px;
  background: #fff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  transition: .5s;
}

.offer__card:hover {
  transform: scale(1.1);
}

.card3 {
  background: #96BB7C;
}

.card__heading p {
  padding-top: 27px;
  color: #252B42;
  font-size: 16px;
  font-weight: 700;
}

.heading3 p {
  color: #fff;
}

.card__hr {
  padding-top: 26px;
  border-bottom: 2px solid #E74040;
  display: flex;
  width: 50px;
}

.hr3 {
  border-bottom: 2px solid #fff;
}
.card__subheading p {
  padding-top: 25px;
  color: #737373;
}

.subheading3 p {
  color: #fff;
}

.advertisement__row {
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding-top: 355px;
}
.advertisement__block2 {
  width: 36%;
  padding-top: 39px;
}
.advertisement__hr {
  border-bottom: 7px solid #E74040;
  display: flex;
  width: 94px;
}
.advertisement__heading p{
  padding-top: 43px;
  color: #252B42;
  font-size: 40px;
  font-weight: 700;
}
.advertisement__subheading p {
  padding-top: 50px;
  font-size: 14px;
  color: #737373;
}

.advertisement__btn {
  padding-top: 43px;
  display: flex;
  align-items: center;
}
.advertisement__btn a {
  color: #96BB7C;
  font-size: 14px;
  font-weight: 700;
}

.advertisement__btn::after {
  content: url(../img/adv-arrow.svg);
  padding-left: 10px;
}

.product__wrapper {
  background: #EFF8ED;
  height: 1128px;
  width: 100%;

}
.product__container {
  max-width: 1070px;
  margin: 0 auto;
  padding-top: 118px;
}

.product__supheading p {
  font-size: 14px;
  font-weight: 700;
  color: #96BB7C;
}

.product__heading p {
  padding-top: 28px;
  font-size: 40px;
  font-weight: 700;
  color: #252B42;
}

.product__subheading p {
  padding-top: 18px;
  font-size: 14px;
  color: #737373;
}

.product__cards {
  padding-top: 116px;
  display: flex;
  justify-content: space-between;
}
.product__upcard {
  width: 22%;
  background: #fff;
  padding-bottom: 35px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  transition: .5s;
}

.product__upcard:hover {
  transform: scale(1.1);
}
.product__card {
  background: url(../img/product-img1.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 25px;
}

.product__card2 {
  background: url(../img/product-img2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.product__card3 {
  background: url(../img/product-img3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.product__card4 {
  background: url(../img/product-img4.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.product__card__sale {
  padding: 20px 20px;
}

.product__card__sale p{
  color: #fff;
  background: #E74040;
  width: 52px;
  height: 24px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__card__up__icon__row {
  padding-top: 170px;
  display: flex;
  justify-content: center;
}

.product__card__up__icon img {
  margin: 0 5px;
}

.product__card__upheading__row {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
.product__card__upheading__item {
  margin: 0 8px;
  display: flex;
  align-items: center;
}

.item__text p {
  font-size: 14px;
  font-weight: 700;
  color: #96BB7C;
}

.item__star {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2D4059;
  color: #fff;
  font-size: 12px;
  border-radius: 20px;
  width: 50px;
  height: 26px;

}

.item__star::before {
  content: url(../img/star.svg);
  padding-right: 5px;
}

.product__card__heading {
  padding-top: 16px;
  padding-left: 25px;
  font-size: 16px;
  font-weight: 700;
  color: #252B42;
}

.product__card__subheading {
  padding-top: 13px;
  padding-left: 25px;
  font-size: 14px;
  color: #737373;
  line-height: 20px;
}

.product__count__sales {
  padding-top: 13px;
  color: #737373;
  font-size: 14px;
  font-weight: 700;
  display: flex;
}
.product__count__sales::before {
  content: url(../img/count-icon.svg);
  padding-left: 25px;
  padding-right: 10px;
}

.product__price {
  padding-top: 20px;
  padding-left: 25px;
  display: flex;
  align-items: center;
}

.product__price p {
  margin: 5px;
  color: #BDBDBD;
  font-size: 16px;
  font-weight: 700;
}

.second__price {
  color: #FFAB71;
  font-size: 16px;
  font-weight: 700;
  display: flex;
}

.product__card__down__icon__row {
  padding-top: 35px;
}

.product__card__down__icon  {
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.product__card__down__icon span {
  font-size: 12px;
  color: #737373;
  padding-left: 5px;
}

.icon2 {
  padding-left: 10px;
}
.icon3 {
  padding-left: 10px;
}

.product__card__btn {
  padding-top: 28px;
  padding-left: 25px;

}

.product__card__btn a {
  font-size: 14px;
  font-weight: 700;
  color: #96BB7C;
  width: 144px;
  height: 44px;
  border: 1px solid #96BB7C;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.product__card__btn a::after {
  content: url(../img/adv-arrow.svg);
  padding-left: 10px;
}

.choice__wrapper {
  background: #fff;
  margin-top: 122px;
}

.choice__container {
  max-width: 1070px;
  margin: 0 auto;
  padding-top: 81px;
}

.choice__upheading p {
  color: #96BB7C;
  font-size: 14px;
  font-weight: 700;
}

.choice__heading p {
  padding-top: 25px;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  color: #252B42;
}

.choice__subheading p {
  padding-top: 13px;
  font-size: 14px;
  color: #737373;
  line-height: 20px;
}

.choice__cards {
  padding-top: 87px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.choice__card {
  width: 31%;
  padding-bottom: 54px;
  background: #fff;
  height: auto;
  transition:  transform .5s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.choice__card:hover {
  transform: scale(1.1);
}

.second__choice {
  position: absolute;
  z-index: 999;
}

.second__choice {
  position: relative;
}
.choice__card__new__sticker {
  position: absolute;
  right: -30px;
  top: -30px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E77C40;
  width: 89px;
  height: 89px;
  border-radius: 52px;
}

.choice__card__like__icon {
  padding-top: 50px;
  padding-left: 40px;
}

.choice__card__free p {
  padding-top: 43px;
  padding-left: 40px;
  font-size: 24px;
  font-weight: 700;
  color: #252B42;
  text-transform: uppercase;
}

.choice__card__heading p {
  padding-top: 49px;
  padding-left: 40px;
  font-size: 14px;
  font-weight: 700;
  color: #737373;
  line-height: 24px;
}

.choice__card__price p {
  padding-top: 49px;
  padding-left: 40px;
  font-size: 40px;
  font-weight: 700;
  color: #96BB7C;
}

.choice__card__date p {
  padding-top: 13px;
  padding-left: 40px;
  font-size: 14px;
  font-weight: 700;
  color: #8EC2F2;
}

.choice__card__subheading p {
  padding-top: 49px;
  padding-left: 40px;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}

.choice__card__btn {
  padding-top: 37px;
  padding-left: 40px;
}

.choice__card__btn a {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  background: #96BB7C;
  border-radius: 5px;
  width: 250px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice__card__markup__column {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  align-items: center;
}
.choice__card__markup__column li img {
  padding-left: 40px;
}

.choice__card__markup__column li p {
  padding-left: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #252B42;
}

.choice__card__markup__column li {
  padding-top: 15px;
  display: flex;
  align-items: center;
}

.choice__card__markup__column .markup__last__item {
  line-height: 24px;
}

.reviews__container {
  padding-top: 364px;
  max-width: 1070px;
  margin: 0 auto;
}

.reviews__supheading p {
  font-size: 14px;
  font-weight: 700;
  color: #96BB7C;
}

.reviews__heading p {
  padding-top: 37px;
  font-size: 40px;
  font-weight: 700;
  color: #252B42;
}

.reviews__subheading {
  padding-top: 16px;
  line-height: 20px;
  font-size: 14px;
  color: #737373;
}

.reviews__blocks {
  padding-top: 123px;
  max-width: 856px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews__block {
  display: flex;
  max-width: 316px;
  text-align: center;
  flex-direction: column;
}

.reviews__text p {
  padding-top: 34px;
  font-size: 14px;
  color: #737373;
  line-height: 20px;
  text-align: center;
}

.reviews__rating__row {
  padding-top: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews__rating__item img {
  margin: 0 4px;
  max-width: 100%;
}

.reviews__name p {
  padding-top: 21px;
  font-size: 16px;
  font-weight: 700;
  color: #252B42;
}

.reviews__job p {
  padding-top: 13px;
  font-size: 14px;
  font-weight: 700;
  color: #737373;
}


.form__container {
  max-width: 688px;
  margin: 0 auto;
  padding-top: 297px;
  text-align: center;
}

.form__upheading p {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #96BB7C;
}

.form__heading p {
  padding-top: 25px;
  font-size: 24px;
  font-weight: 700;
  color: #252B42;
  text-align: center;
}

.form__subheading p {
  padding-top: 16px;
  font-size: 14px;
  color: #737373;
}

.form__section {
  padding-top: 85px;
}

.form__item {
  display: flex;
  width: 688px;
  height: 58px;
  background: #F9F9F9;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
}

input:focus {
  outline: none;
  border: 1px solid #e6e6e6;

}

.form__btn {
  background: #96BB7C;
  color: #fff;
  width: 117px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

::placeholder {
  font-size: 14px;
}

input[type="email"] {
  font-size: 20px;
  padding: 0 20px;
}

.footer__container {
  padding-top: 238px;
  padding-bottom: 56px;
  margin: 0 auto;
  max-width: 1070px;
  display: grid;
  justify-content: space-between;
  align-content: center; /* выравнивание сетки по вертикали по центру */
  grid-template-columns: repeat(5, 200px);
  grid-gap: 10px;
}

.footer__column .footer__heading {
  margin-top: 0;
  font-size: 16px;
  font-weight: 700;
  color: #252B42;
}
.footer__column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__column li a {
  padding-top: 23px;
  color: #737373;
  font-size: 14px;
  font-weight: 700;
}

.footer__first__item {
  padding-top: 29px;
}


.first__contact__item::before {
  content: url(../img/footer-phone-icon.svg);
  padding-right: 10px;
  transform: translateY(45%);
}

.first__contact__item {
  padding-top: 29px;
  display: flex;
  align-items: center;
}

.second__contact__item::before {
  content: url(../img/footer-map-icon.svg);
  padding-right: 10px;
}
.second__contact__item {
  display: flex;
  align-items: center;
}
.third__contact__item::before {
  content: url(../img/footer-mail-icon.svg);
  padding-right: 10px;
}

.third__contact__item {
  display: flex;
  align-items: center;
}

.rights__wrapper {
  background: #fafafa;
  height: 74px;
  width: 100%;
}
.footer__rights {
  max-width: 1070px;
  margin: 0 auto;
  padding-top: 31px;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__reserved p {
  font-size: 14px;
  font-weight: 700;
  color: #737373;
}

.footer__social {
  display: flex;
  align-items: center;
}

.icons a {
  margin: 0 7px;
}

/*Mobile*/

@media screen and (max-width: 930px) {

  .container {
    padding: 40px 30px;
  }

#menu__toggle {
  opacity: 0;
  display: none;
}
.menu__btn {
  display: flex;
  position: absolute;
  right: 30px;
  top: 30px;
  align-items: center;
  width: 30px;
  height: 40px;
  cursor: pointer;
  z-index: 999;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #96BB7C;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box, .box__menu {
  display: flex;
  background: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  visibility: hidden;
  overflow-y: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0;
  list-style: none;
  text-align: center;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  flex-direction: column;
}

.menu__item {
  display: block;
  padding: 10px 65px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  border: 1px solid #fff;
  border-left: none;
  border-top: none;
  border-right: none;
  padding-top: 60px;
  margin: 0 auto;
  font-weight: 600;
  text-decoration: none;
}

.menu__item__login {
  display: block;
  padding: 10px 65px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  border: 1px solid #fff;
  border-left: none;
  border-top: none;
  border-right: none;
  padding-top: 60px;
  margin: 0 auto;
  font-weight: 600;
  text-decoration: none;
}

.menu__item__join {
  background: none;
  display: block;
  padding: 10px 65px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #96BB7C;
  border-radius: 0px;
  padding-top: 60px;
  margin: 0 auto;
  font-weight: 600;
  text-decoration: none;
}

li {
  transition: none;
}

li {
  transform: none;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
  z-index: 99;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: 0.25s;
}

.menu__box {
  transition-duration: 0.25s;
}

.menu__item {
  transition-duration: 0.25s;
}

.header__promo__supheading p {
  font-size: 18px;
}

.header__promo__heading p {
  font-size: 40px;
}

.header__promo__subheading p {
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
}
.main__container {
  padding: 0 30px;
}

.header__promo__buttons {
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}

.header__promo__first__btn, .header__promo__second__btn {
  margin: 0 5px;
}

.header__promo__first__btn a {
  width: 100%;
  padding: 0 20px;
}
.header__promo__second__btn a {
  width: 100%;
  padding: 0 20px;
}

.social__row {
  flex-direction: column;
}

.social__item img {
max-width: 100%;
padding: 30px;
}

.offer__block {
  padding-top: 100px;
}

.offer__supheading p {
  font-size: 18px;
}
.offer__heading p {
  font-size: 40px;
}
.offer__subheading p {
  font-size: 14px;
}
.offer__cards {
  flex-direction: column;
}
.offer__card {
  width: 100%;
  margin-top: 40px;
  box-shadow: 10px 10px 10px 10px rgba(5, 5, 5, 0.09);
}

.advertisement__row {
  flex-direction: column;
  padding-top: 100px;
}
.advertisement__block img {
  width: 100%;
}

.advertisement__block2 {
  width: 100%;
}

.product__wrapper {
  margin-top: 50px;
}

.product__container {
  padding: 50px 30px;
  padding-top: 0px;
  background: #EFF8ED;
}
.product__cards {
  flex-direction: column;
  display: flex;
}

.product__supheading p {
  font-size: 18px;
  padding-top: 50px;
}

.product__upcard {
  width: 100%;
  margin-top: 50px;
}
.product__card {
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);

}

.choice__wrapper {
  margin-top: 100px;
}
.choice__container {
  padding: 0 30px;
}
.choice__cards {
  flex-direction: column;
}
.choice__card {
  width: 100%;
  margin-top: 100px;
}

.choice__card__new__sticker {
  right: 0;
}

.reviews__container {
  padding-top: 100px;
  padding: 100px 30px 0;
}

.reviews__supheading p {
  font-size: 18px;
}
.reviews__blocks {
  flex-direction: column;
}

.reviews__block:last-child {
  padding-top: 100px;
}

.form__container {
  padding:100px 30px 0;
}

.form__upheading p {
  font-size: 18px;
}

.form__item {
  width: 100%;
}

.footer__container {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: 1fr;
  padding: 100px 30px 0;
  gap: 60px;
  align-self: center;
  align-content: space-between;
  justify-content: space-between;
}

.footer__first__item {
  padding-top: 0;
}


.first__contact__item {
  padding-top: 0;
}

.rights__wrapper {
  margin-top: 50px;
}
.footer__rights {
  padding: 31px 30px 0;
}

.footer__reserved p { 
  line-height: 20px;
  font-size: 11px;

}